.env
node_modules
client/node_modules
server/node_modules 
client/.next/
server/.next/
client/dist/
server/dist
client/build
server/build
client/public
server/public
client/logs
server/logs
client/cache
server/cache
client/temp
server/temp